In [1]:
import covid

In [2]:
countries = ["china", "canada", "south-korea", "united-states"]
df = covid.get_num_of_cases(countries)

In [3]:
df

                     Country        Date New Cases Cumulative Cases
0                      China  Jan., 2020      9802             9802
1                      China  Feb., 2020     69554            79356
2                      China  Mar., 2020      2923            82279
3                      China  Apr., 2020      1677            83956
4                      China   May, 2020       190            84146
5                     Canada  Jan., 2020         4                4
6                     Canada  Feb., 2020        16               20
7                     Canada  Mar., 2020      8507             8527
8                     Canada  Apr., 2020     45930            54457
9                     Canada   May, 2020     38021            92478
10             Korea (South)  Jan., 2020        11               11
11             Korea (South)  Feb., 2020      3139             3150
12             Korea (South)  Mar., 2020      6636             9786
13             Korea (South)  Apr., 2020       988            10774
14             Korea (South)   May, 2020       729            11503
15  United States of America  Jan., 2020         7                7
16  United States of America  Feb., 2020        17               24
17  United States of America  Mar., 2020    188700           188724
18  United States of America  Apr., 2020    883943      1.07267e+06
19  United States of America   May, 2020    726457      1.79912e+06

In [5]:
df = covid.get_num_of_cases(countries, 6)

In [6]:
df

                     Country        Date New Cases Cumulative Cases
0                      China  Jan., 2020      9802             9802
1                      China  Feb., 2020     69554            79356
2                      China  Mar., 2020      2923            82279
3                      China  Apr., 2020      1677            83956
4                      China   May, 2020       190            84146
5                      China  Jun., 2020       639            84785
6                     Canada  Jan., 2020         4                4
7                     Canada  Feb., 2020        16               20
8                     Canada  Mar., 2020      8507             8527
9                     Canada  Apr., 2020     45930            54457
10                    Canada   May, 2020     38021            92478
11                    Canada  Jun., 2020     13619           106097
12             Korea (South)  Jan., 2020        11               11
13             Korea (South)  Feb., 2020      3139             3150
14             Korea (South)  Mar., 2020      6636             9786
15             Korea (South)  Apr., 2020       988            10774
16             Korea (South)   May, 2020       729            11503
17             Korea (South)  Jun., 2020      1347            12850
18  United States of America  Jan., 2020         7                7
19  United States of America  Feb., 2020        17               24
20  United States of America  Mar., 2020    188700           188724
21  United States of America  Apr., 2020    883943      1.07267e+06
22  United States of America   May, 2020    726457      1.79912e+06
23  United States of America  Jun., 2020    837290      2.63641e+06