In [2]:
import ecom

In [3]:
canada_m = ecom.get_canada_df_m()
canada_y = ecom.get_canada_df_y()
korea_m = ecom.get_korea_df_m()
korea_y = ecom.get_korea_df_y()

In [4]:
canada_m.head()

,Date,Overall Retail,E-Commerce,E-Shopping and Mail-Order Houses,Retail Growth(%),E-Commerce Growth(%),E-Shopping Growth(%),E-Commerce Share(%),E-Shopping Share(%)
0,01/1/2016,27921.8,654.742,507.173,NaN,NaN,NaN,2.34492,1.81641
1,02/1/2016,27474.6,589.219,460.148,-1.6014,-10.0075,-9.27206,2.14459,1.67481
2,03/1/2016,31913.2,646.028,508.351,16.1554,9.6414,10.4757,2.02432,1.59292
3,04/1/2016,34444.7,684.112,512.51,7.93246,5.89515,0.818126,1.98611,1.48792
4,05/1/2016,36405.5,683.764,508.352,5.69257,-0.050834,-0.811341,1.87819,1.39636

In [5]:
canada_y

,Date,Overall Retail,E-Commerce,E-Shopping and Mail-Order Houses,Retail Growth(%),E-Commerce Growth(%),E-Shopping Growth(%),E-Commerce Share(%),E-Shopping Share(%)
0,2016,410232,9195.16,6606.22,NaN,NaN,NaN,2.24145,1.61036
1,2017,439424,11711.6,7950.1,7.11586,27.3674,20.3426,2.66523,1.80921
2,2018,452755,13443.2,9323.7,3.03379,14.7852,17.2778,2.96921,2.05933
3,2019,458194,16409.4,12342.3,1.20131,22.0646,32.3756,3.58133,2.69368
4,2020,157694,9663.87,6258.6,-11.777,67.4885,45.4946,6.12823,3.96881

In [9]:
korea_m.head()

,Date,Overall Retail,E-Commerce,Retail Growth(%),E-Commerce Growth(%),E-Commerce Share(%)
0,1/1/2017,29876.886667,6092.065833,NaN,NaN,20.390564
1,2/1/2017,27563.032500,5957.374167,-7.744629,-2.210936,21.613638
2,3/1/2017,30489.673333,6455.842500,10.617993,8.367249,21.173866
3,4/1/2017,29905.277500,6150.662500,-1.916701,-4.727191,20.567147
4,5/1/2017,31025.580833,6351.432500,3.746173,3.264201,20.471599

In [7]:
korea_y

,Date,Overall Retail,E-Commerce,Retail Growth(%),E-Commerce Growth(%),E-Commerce Share(%)
0,2017,366906.667500,78488.137500,NaN,NaN,21.391854
1,2018,387504.101667,94428.341667,5.613808,20.309062,24.368346
2,2019,394301.375000,112720.039167,1.754116,19.370982,28.587280
3,2020,158422.718333,51391.705000,-1.299868,15.239836,32.439606